.switchContainer{
  background-color: white;
  width: 45px;
  height: 20px;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  .ball{
    background-color: black;
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    left: -7px;
    transform: translate(50%, 50%);
    transition: left 0.5s ease-in-out;
    &.on{
      left: 35%;
    }
  }
}